body {font-family:Arial, Sans-Serif;}
*{
  margin: 0;
  padding: 0;
}
/* Đăng nhập , đăng kí */
.login{

    height: 400px;
    background:#AFEEEE ;
}
.login1{
  padding-top: 50px;
}
.registration{
    height: 600px;
    background: #AFEEEE;
}
.registration1{
    margin-top: 80px;
}
.form{
    width: 300px; margin: 0 auto;
}
.form input[type='text']{
    width: 280px; border-radius: 2px;
    border: 1px solid #CCC; 
    padding: 10px; 
    color: #333; 
    font-size: 14px; 
    margin-top: 10px;
}
.form input[type='email']{
    width: 280px; border-radius: 2px;
    border: 1px solid #CCC; 
    padding: 10px; 
    color: #333; 
    font-size: 14px; 
    margin-top: 10px;
}
.form input[type='password'] {
    width: 280px; border-radius: 2px;
    border: 1px solid #CCC; 
    padding: 10px; 
    color: #333; 
    font-size: 14px; 
    margin-top: 10px;
}
  
.form input[type='submit']{
  padding: 10px 25px 8px; 
  color: #fff; 
  background-color: #0067ab; 
  text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
  font-size: 15px; 
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
  border: 1px solid #0164a5; 
  border-radius: 2px; 
  margin-top: 10px; 
  cursor:pointer;
}
.form input[type='submit']:hover {
  background-color: #024978;
} 
  /* user */
  .user_ct{
    width: auto;
    padding:50px 0 50px 400px;
  }
  .user_ct table{
    border-collapse:collapse;
    min-width:300px;
    border:2px solid #868585;
  }
  .user_ct caption{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 15px;
  }
  .user_ct td{
    padding:0 6px;
    border-left:2px solid #868585;
    border-top:0.1px solid #868585;
    max-width: 250px;
    word-break: break-word;
  }
  .user_ct button{
    padding: 4px 5px 4px; 
    color: #fff; 
    background-color: #0067ab; 
    text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
    font-size: 14px; 
    box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
    border: 1px solid #0164a5; 
    border-radius: 2px; 
    margin-top: 10px; 
    cursor:pointer;
  }
/* header */


header{
  display: flex;
  justify-content: space-between;
  padding: 12 50px;
  height: 80px;
  width: 100%;
  align-items: center;
  background: radial-gradient(#fff , #1883b5);
  position: fixed;
  z-index: 999;
}
.menu {
  flex: 5;
  display: flex;
  margin-left: 200px;
}
.menu ul{
  list-style-type: none;
}
.menu li{
  padding: 0 12px;
  position: relative;
  display: inline-table;
}
.menu li a{
  text-decoration: none;
  font-size: 14px;
  font-weight: bold!important;
  display: block;
  line-height: 20px;
  color: black;
}
.right-header{margin-right: 50px;}
.right-header a{
  display: flex ;
  position: relative;
  margin: 0px 10px;
  font-size: 14px;
  color:  rgba(0, 0, 0, 0.7);
}
.right-header a:hover{
color:  #1a0d8f;
transition: all ease 0.2s;
}

ul.right-header ul.sub-login{
position: absolute;
padding: 5px ;
list-style: none;
width: 140px;
display: none;
}
ul.right-header li:hover ul.sub-login{
background-color: #ffffb3;
display: block;
}
ul.right-header ul.sub-login a{
padding: 8px 15px;
left:0;

}
ul.list_CN{
padding: 0;
width: 100%;
list-style: none;
margin: 0 10px;
line-height: 25px;
}
ul.list_CN li{
float: left;
margin-top: 0px;
margin-right: 20px;
padding: 0px;
}
ul.list_CN li a:hover{
color: #088178;
}
ul.list_CN li a{
text-decoration: none;
text-align: center;
color:rgb(0, 0, 0);
font-weight: bold;
}

ul.list_CN ul.sub-login{
position: absolute;
padding: 0px ;
list-style: none;
width: auto;
display: none;
}
ul.list_CN ul.sub-login a{
padding: 0px 0px;
left : 0;
}
ul.list_CN li:hover ul.sub-login{
background: #eeeeee;
display: block ;
}
main{
  float: left;
  width: 100%;
  margin-top: 80px;
  min-height: 350px;
}
/* footer */
.col-2{
  /* flex-basis: 50%; */
  min-width: 100%;
}

.col-2 img{
  width: 120%;
  height: 750px;
  min-width: 100%;
  margin-left: -117px;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
/* footer */
footer{
  float: left;
  width: 100%;
}
/* footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
.footer-distributed{
  background: #eeeeee;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #000000;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #000000;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #000;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #000;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}

/* header_dn */
.menuuu{
  flex: 5;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
}
.menuuu > li{
  position: relative;
  list-style-type: none;
  display: inline-table;
}
.menuuu > li:hover .menuuu1{
  display: block;
  background: #ceddf2;
  width: 160px;
}
.menuuu li > .menuuu1{
  position: absolute;
  display: none;
  padding: 5px;
}
.menuuu1 ul{
  list-style-type: none;
}

/* updateuser */
.information{
  margin: 40px 0 40px 300px;
}
.information .table{
  text-align: center;

}
.information caption{
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 15px;
}
.information td{
  padding:0 30px;
  border:1px solid #868585;
  max-width: 450px;
  word-break: break-word;
}
.information table td:nth-child(1){
  font-weight: bold;
}
.information button{
  padding: 6px 8px 6px; 
  color: #fff; 
  background-color: #0067ab; 
  text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
  font-size: 15px; 
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
  border: 1px solid #0164a5; 
  border-radius: 2px; 
  margin-top: 10px; 
  cursor:pointer;
  margin-left: 281px;
}
.guide_cs1 input[type='submit']{
  padding: 10px 25px 8px; 
  color: #fff; 
  background-color: #0067ab; 
  text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
  font-size: 15px; 
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
  border: 1px solid #0164a5; 
  border-radius: 2px; 
  margin-top: 10px; 
  margin-left: 180px;
  cursor:pointer;
  }
  .guide_cs1  input[type='submit']:hover {
  background-color: #024978;
  } 
  .guide_cs1  input[type='reset']{padding: 10px 25px 8px; 
    color: #fff; background-color: #0067ab; 
    text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
    font-size: 16px; 
    box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
    border: 1px solid #0164a5; 
    border-radius: 2px; 
    margin-top: 10px;
    margin-left: 500px;
    cursor:pointer;
  }
.guide_cs1  input[type='reset']:hover {
  background-color: #024978;
}
/* user */
.user{
  width: auto;
  margin-top: 50px;
  margin-left: 500px;
  text-align: center;
  padding:0 0 50px 20px;
}
.user table{
  border-collapse:collapse;
}
.user caption{
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 15px;
}
.user td{
  padding:0 6px;
  border:1px solid #868585;
  max-width: 250px;
  word-break: break-word;
}
.user table tr:nth-child(odd){
  background-color:#eee;
}
.user table tr:nth-child(even){
  background-color:white;
}
.user table tr:nth-child(1){
  background-color:skyblue;
}

/* user */
.user_ct{
width: auto;
margin-left: 100px;
margin-top: 20px;
padding:0 0 50px 300px;
}
.user_ct table{
border-collapse:collapse;
width:400px;
border:2px solid #868585;
}
.user_ct caption{
font-size: 20px;
font-weight: bolder;
padding-bottom: 15px;
}
.user_ct td{
padding:0 6px;
border-left:2px solid #868585;
border-top:0.1px solid #868585;
max-width: 250px;
word-break: break-word;
}
/*  */

.tkus{margin-right: 50px;}
.tkus a{
  display: flex ;
  position: relative;
  margin: 0px 10px;
  font-size: 14px;
  color:  rgba(0, 0, 0, 0.7);
}
.tkus a:hover{
color:  #1a0d8f;
transition: all ease 0.2s;
}


ul.tkus1{
padding: 0;
width: 100%;
list-style: none;
margin: 0 10px;
line-height: 25px;
}
ul.tkus1 li{
float: left;
margin:10px 0;
padding: 0px;
}
ul.tkus1 li a:hover{
color: #088178;
}
ul.tkus1 li a{
text-decoration: none;
text-align: center;
color:rgb(0, 0, 0);
font-weight: bold;
}

.tkus1 input[type='text'] {
width: 150px; 
border-radius: 2px;
border: 1px solid #CCC; 
padding: 4px; 
color: #333; 
font-size: 14px; 
margin-top: 10px;
margin-left: 500px;
}
.tkus1 input[type='submit']{
padding: 4px 5px 4px; 
color: #fff; 
background-color: #0067ab; 
text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
font-size: 14px; 
box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
border: 1px solid #0164a5; 
border-radius: 2px; 
margin-top: 10px; 
cursor:pointer;
}
.tkus1 input[type='submit']:hover {
background-color: #024978;
} 
.tkus1 button{
padding: 4px 5px 4px; 
color: #fff; 
background-color: #0067ab; 
text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
font-size: 14px; 
box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
border: 1px solid #0164a5; 
border-radius: 2px; 
margin-top: 10px; 
cursor:pointer;
margin-left: 250px;
}
/* guide_cs */
.guide_cs td{
padding-left: 30px;
}

.guide_cs1 {
  margin: 10px 0 20px 30px;
}
/*  */
.adduser {
  margin: 40px 0 40px 400px;
}
.adduser caption{
  font-size: 20px;
    font-weight: bolder;
    padding-bottom: 15px;
}
.adduser1 input[type='submit']{
padding: 10px 25px 8px; 
color: #fff; 
background-color: #0067ab; 
text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
font-size: 15px; 
box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
border: 1px solid #0164a5; 
border-radius: 2px; 
margin-top: 10px; 
cursor:pointer;
}
.adduser1 input[type='submit']:hover {
background-color: #024978;
} 

.adduser1 input[type='reset']{
  padding: 10px 25px 8px; 
  color: #fff; 
  background-color: #0067ab; 
  text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
  font-size: 15px; 
  box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
  border: 1px solid #0164a5; 
  border-radius: 2px; 
  margin-top: 10px; 
  margin-left: 225px; 
  cursor:pointer;
}
.adduser1 input[type='reset']:hover {
background-color: #024978;
}
.adduser input[type='text'] {
width: 280px; border-radius: 2px;
border: 1px solid #CCC; 
padding: 10px; 
color: #333; 
font-size: 14px; 
margin-top: 10px;
}
.adduser  input[type='email']{
width: 280px; border-radius: 2px;
border: 1px solid #CCC; 
padding: 10px; 
color: #333; 
font-size: 14px; 
margin-top: 10px;
}
.adduser  input[type='password'] {
width: 280px; border-radius: 2px;
border: 1px solid #CCC; 
padding: 10px; 
color: #333; 
font-size: 14px; 
margin-top: 10px;
}
.adduser  input[type='tel'] {
width: 280px; border-radius: 2px;
border: 1px solid #CCC; 
padding: 10px; 
color: #333; 
font-size: 14px; 
margin-top: 10px;
}
.clear{
  clear: both;
}